@font-face{
    font-family:Jose;
    src:url(../fonts/JosefinSans-SemiBold.ttf);
}

@font-face{
    font-family:Convergence;
    src:url(../fonts/Convergence.ttf);
}

*{
	transition: 1s all ease-out;
	font-family: Convergence;
}

body{
	font-family: sans-serif;
	background:grey;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	transition: 1s all ease;
}

a:hover{
	cursor: pointer;
}

.preloader{
	position: absolute;
	transition: 1s all ease;
	background:black;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	z-index:9999;
	text-align: center;
	height: 100vh;
}
.preloader > i{
	position: relative;
	top:37vh;
	color: white;
}

h2{
	color: white;
	font-weight: bold;
}